<h3 th:text="${message}"></h3>
<form action="#" th:action="@{/order/add}" th:object="${form}" method="post">
    <table>
        <tr>
            <td>Order number</td>
            <td>
                <input th:field="*{orderNumber}" />
            </td>
        </tr>
        <tr>
            <td>Order date</td>
            <td>
                <input type="date" th:field="*{orderDate}" />
            </td>
        </tr>
        <tr>
            <td>Required date</td>
            <td>
                <input type="date" th:field="*{requiredDate}" />
            </td>
        </tr>
        <tr>
            <td>Shipped date</td>
            <td>
                <input type="date" th:field="*{shippedDate}" />
            </td>
        </tr>
        <tr>
            <td>Status</td>
            <td>
                <select th:field="*{shippedDate}">
                    <option th:value="'On Hold'">On Hold</option>
                    <option th:value="'In Process'">In Process</option>
                    <option th:value="'Resolved'">Resolved</option>
                    <option th:value="'Shipped'">Shipped</option>
                    <option th:value="'On Hold'">Cancelled</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Comments</td>
            <td>
                <input th:field="*{shippedDate}" />
            </td>
        </tr>
        <tr>
            <td>Customer number</td>
            <td>
                <input th:field="*{customerNumber}" />
            </td>
        </tr>
        <tr>
            <td>Order details</td>
            <td>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <table style="width:100%">
                    <tr>
                        <th>No</th>
                        <th>Product Code</th>
                        <th>Quantity Ordered</th>
                        <th>Price Each</th>
                        <th>Order Line Number</th>
                    </tr>
                    <tr th:each="orderDetail, itemStat : *{orderDetails}">
                        <td th:text="${itemStat.count}"></td>
                        <td><input th:field="*{orderDetails[__${itemStat.index}__].productCode}"></td>
                        <td><input th:field="*{orderDetails[__${itemStat.index}__].quantityOrdered}"></td>
                        <td><input th:field="*{orderDetails[__${itemStat.index}__].priceEach}"></td>
                        <td><input th:field="*{orderDetails[__${itemStat.index}__].orderLineNumber}"></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="submit" value="Add" />
                <input type="reset" value="Cancel" />
            </td>
        </tr>
    </table>
</form>
